In [1]:
# importar las librerias y la base de datos

import pandas as pd
import numpy as np

data_results = pd.read_json('Datasets/results.json', lines=True)

In [2]:
data_results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [3]:
data_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24960 entries, 0 to 24959
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         24960 non-null  int64
 1   raceId           24960 non-null  int64
 2   driverId         24960 non-null  int64
 3   constructorId    24960 non-null  int64
 4   number           24960 non-null  object
 5   grid             24960 non-null  int64
 6   position         24960 non-null  object
 7   positionText     24960 non-null  object
 8   positionOrder    24960 non-null  int64
 9   points           24960 non-null  float64
 10  laps             24960 non-null  int64
 11  time             24960 non-null  object
 12  milliseconds     24960 non-null  object
 13  fastestLap       24960 non-null  object
 14  rank             24960 non-null  object
 15  fastestLapTime   24960 non-null  object
 16  fastestLapSpeed  24960 non-null  object
 17  statusId         24960 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 2.6+ MB

In [4]:
# renombrar las columnas
data_results.rename(columns={'resultId':'IdResultado','raceId':'IdCarrera','driverId':'IdPiloto','constructorId':'IdConstructor',
'number':'Nro_X','grid':'Parrilla','position':'Posicion','positionText':'PosicionTexto','positionOrder':'PosicionOrden',
'points':'Puntos','laps':'Vueltas','time':'Tiempo','milliseconds':'Duracion(ms)','fastestLap':'VueltaRapida','rank':'Rango',
'fastestLapTime':'TiempoVueltaRapida','fastestLapSpeed':'VelocidadVueltaRapida','statusId':'IdEstado'}, inplace=True)

In [5]:
# Eliminar los duplicados en la columna de IdResultado
data_results.drop_duplicates(subset='IdResultado', keep='first', inplace=True)

In [6]:
# establecer a driverId como indice
data_results = data_results.set_index('IdResultado')

In [7]:
# contar cuantos valores de tipo '\\N' hay en cada columna
data_results.apply(lambda x: sum(x=='\\N'), axis=0)

IdCarrera                    0
IdPiloto                     0
IdConstructor                0
Nro_X                        6
Parrilla                     0
Posicion                 10735
PosicionTexto                0
PosicionOrden                0
Puntos                       0
Vueltas                      0
Tiempo                   18368
Duracion(ms)             18369
VueltaRapida             18410
Rango                    18249
TiempoVueltaRapida       18410
VelocidadVueltaRapida    18410
IdEstado                     0
dtype: int64

In [8]:
# Reemplazar los valores '\\N' y los vacios por valores nulos
data_results = data_results.replace('\\N', np.nan)
data_results = data_results.replace('', np.nan)

# Reemplazar los valores '\\N' y nulos por valores vacios
# data_results = data_results.replace('\\N', '')
# data_results = data_results.replace(np.nan, '')

In [9]:
# Extraer en otra dataframe los valores nulos los que no tienen nulos en la columna 'Duracion(ms)'
results_notnull = data_results[data_results['Duracion(ms)'].notnull()]

In [10]:
results_notnull.head()

,IdCarrera,IdPiloto,IdConstructor,Nro_X,Parrilla,Posicion,PosicionTexto,PosicionOrden,Puntos,Vueltas,Tiempo,Duracion(ms),VueltaRapida,Rango,TiempoVueltaRapida,VelocidadVueltaRapida,IdEstado
IdResultado,,,,,,,,,,,,,,,,,
1,18,1,1,22.0,1,1.0,1,1,10.0,58,1:34:50.616,5690616.0,39.0,2.0,1:27.452,218.300,1
2,18,2,2,3.0,5,2.0,2,2,8.0,58,+5.478,5696094.0,41.0,3.0,1:27.739,217.586,1
3,18,3,3,7.0,7,3.0,3,3,6.0,58,+8.163,5698779.0,41.0,5.0,1:28.090,216.719,1
4,18,4,4,5.0,11,4.0,4,4,5.0,58,+17.181,5707797.0,58.0,7.0,1:28.603,215.464,1
5,18,5,1,23.0,3,5.0,5,5,4.0,58,+18.014,5708630.0,43.0,1.0,1:27.418,218.385,1

In [11]:
data_results.head()

,IdCarrera,IdPiloto,IdConstructor,Nro_X,Parrilla,Posicion,PosicionTexto,PosicionOrden,Puntos,Vueltas,Tiempo,Duracion(ms),VueltaRapida,Rango,TiempoVueltaRapida,VelocidadVueltaRapida,IdEstado
IdResultado,,,,,,,,,,,,,,,,,
1,18,1,1,22.0,1,1.0,1,1,10.0,58,1:34:50.616,5690616.0,39.0,2.0,1:27.452,218.300,1
2,18,2,2,3.0,5,2.0,2,2,8.0,58,+5.478,5696094.0,41.0,3.0,1:27.739,217.586,1
3,18,3,3,7.0,7,3.0,3,3,6.0,58,+8.163,5698779.0,41.0,5.0,1:28.090,216.719,1
4,18,4,4,5.0,11,4.0,4,4,5.0,58,+17.181,5707797.0,58.0,7.0,1:28.603,215.464,1
5,18,5,1,23.0,3,5.0,5,5,4.0,58,+18.014,5708630.0,43.0,1.0,1:27.418,218.385,1

In [12]:
data_results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24960 entries, 1 to 24965
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   IdCarrera              24960 non-null  int64
 1   IdPiloto               24960 non-null  int64
 2   IdConstructor          24960 non-null  int64
 3   Nro_X                  24954 non-null  float64
 4   Parrilla               24960 non-null  int64
 5   Posicion               14225 non-null  float64
 6   PosicionTexto          24960 non-null  object
 7   PosicionOrden          24960 non-null  int64
 8   Puntos                 24960 non-null  float64
 9   Vueltas                24960 non-null  int64
 10  Tiempo                 6592 non-null   object
 11  Duracion(ms)           6591 non-null   float64
 12  VueltaRapida           6550 non-null   float64
 13  Rango                  6711 non-null   float64
 14  TiempoVueltaRapida     6550 non-null   object
 15  VelocidadVueltaRapida  6550 non-null   float64
 16  IdEstado               24960 non-null  int64
dtypes: float64(7), int64(7), object(3)
memory usage: 3.1+ MB

In [13]:
# exportar la data a un archivo csv
data_results.to_csv('DATA_FINAL/results_final.csv')

In [14]:
# exportar la data a un archivo csv
results_notnull.to_csv('DATA_FINAL/results_notnull.csv')