In [1]:
# importar la data del archivo csv y convertirlo en un dataframe
import pandas as pd
import numpy as np

data_qua1 = pd.read_json('Datasets/Qualifying/qualifying_split_1.json')
data_qua2 = pd.read_json('Datasets/Qualifying/qualifying_split_2.json')

data_qua = pd.concat([data_qua1, data_qua2], ignore_index=True)

In [2]:
data_qua.head(50)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
5,6,18,15,7,11,6,1:26.427,1:26.101,1:28.527
6,7,18,3,3,7,7,1:26.295,1:26.059,1:28.687
7,8,18,14,9,9,8,1:26.381,1:26.063,1:29.041
8,9,18,10,7,12,9,1:26.919,1:26.164,1:29.593
9,10,18,20,5,15,10,1:26.702,1:25.842,\N
10,11,18,22,11,17,11,1:26.369,1:26.173,\N
11,12,18,4,4,5,12,1:26.907,1:26.188,\N
12,13,18,18,11,16,13,1:26.712,1:26.259,\N
13,14,18,6,3,8,14,1:26.891,1:26.413,\N
14,15,18,17,9,10,15,1:26.914,\N,\N
15,16,18,8,6,1,16,1:26.140,\N,\N
16,17,18,21,10,21,17,1:27.207,\N,\N
17,18,18,7,5,14,18,1:27.446,\N,\N
18,19,18,16,10,20,19,1:27.859,\N,\N
19,20,18,11,8,18,20,1:28.208,\N,\N
20,21,18,12,4,6,21,1:28.330,\N,\N
21,22,18,19,8,19,22,1:29.059,\N,\N
22,23,19,13,6,2,1,1:35.347,1:34.412,1:35.748
23,24,19,8,6,1,2,1:35.645,1:34.188,1:36.230
24,25,19,5,1,23,3,1:35.227,1:34.759,1:36.613
25,26,19,1,1,22,4,1:35.392,1:34.627,1:36.709
26,27,19,15,7,11,5,1:35.205,1:34.960,1:36.711
27,28,19,9,2,4,6,1:35.794,1:34.811,1:36.727
28,29,19,2,2,3,7,1:35.729,1:34.648,1:36.753
29,30,19,17,9,10,8,1:35.440,1:34.967,1:37.009
30,31,19,4,4,5,9,1:35.983,1:35.140,1:38.450
31,32,19,10,7,12,10,1:35.891,1:35.000,1:39.656
32,33,19,18,11,16,11,1:35.847,1:35.208,\N
33,34,19,14,9,9,12,1:36.058,1:35.408,\N
34,35,19,12,4,6,13,1:36.074,1:35.562,\N
35,36,19,22,11,17,14,1:36.198,1:35.622,\N
36,37,19,20,5,15,15,1:36.111,1:35.648,\N
37,38,19,3,3,7,16,1:35.843,1:35.670,\N
38,39,19,21,10,21,17,1:36.240,\N,\N
39,40,19,6,3,8,18,1:36.388,\N,\N
40,41,19,7,5,14,19,1:36.677,\N,\N
41,42,19,11,8,18,20,1:37.087,\N,\N
42,43,19,16,10,20,21,1:37.101,\N,\N
43,44,19,19,8,19,22,1:37.481,\N,\N
44,45,20,9,2,4,1,1:32.893,1:31.745,1:33.096
45,46,20,13,6,2,2,1:31.937,1:31.188,1:33.123
46,47,20,1,1,22,3,1:32.750,1:31.922,1:33.292
47,48,20,8,6,1,4,1:32.652,1:31.933,1:33.418
48,49,20,5,1,23,5,1:33.057,1:31.718,1:33.488
49,50,20,2,2,3,6,1:33.137,1:31.909,1:33.737

In [3]:
data_qua.tail()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
8689,8730,1047,8,51,7,16,1:37.555,\N,\N
8690,8731,1047,825,210,20,17,1:37.863,\N,\N
8691,8732,1047,847,3,63,18,1:38.045,\N,\N
8692,8733,1047,850,210,51,19,1:38.173,\N,\N
8693,8734,1047,849,3,6,20,1:38.443,\N,\N

In [4]:
data_qua.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8694 entries, 0 to 8693
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      8694 non-null   int64
 1   raceId         8694 non-null   int64
 2   driverId       8694 non-null   int64
 3   constructorId  8694 non-null   int64
 4   number         8694 non-null   int64
 5   position       8694 non-null   int64
 6   q1             8694 non-null   object
 7   q2             8694 non-null   object
 8   q3             8694 non-null   object
dtypes: int64(6), object(3)
memory usage: 509.5+ KB

In [5]:
# Cambiar el nombre de las columnas
data_qua.rename(columns={'qualifyId':'IdCalificacion','raceId':'IdCarrera','driverId':'IdPiloto',
                        'constructorId':'IdConstructor','number':'Nro_X','position':'Posicion',
                        'q1':'Calificacion1','q2':'Calificacion2','q3':'Calificacion3'}, inplace=True)

In [6]:
# Converir IdCalificacion en indice
data_qua.set_index('IdCalificacion', inplace=True)

In [7]:
# contar cuantos valores de tipo '\\N' hay en cada columna
data_qua.apply(lambda x: sum(x=='\\N'), axis=0)

IdCarrera           0
IdPiloto            0
IdConstructor       0
Nro_X               0
Posicion            0
Calificacion1     127
Calificacion2    4047
Calificacion3    5688
dtype: int64

In [8]:
# Reemplazar los valores '\\N' y los vacios por valores nulos
data_qua = data_qua.replace('\\N', np.nan)
data_qua = data_qua.replace('', np.nan)

In [9]:
data_qua.head()

,IdCarrera,IdPiloto,IdConstructor,Nro_X,Posicion,Calificacion1,Calificacion2,Calificacion3
IdCalificacion,,,,,,,,
1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [10]:
data_qua.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8694 entries, 1 to 8734
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdCarrera      8694 non-null   int64
 1   IdPiloto       8694 non-null   int64
 2   IdConstructor  8694 non-null   int64
 3   Nro_X          8694 non-null   int64
 4   Posicion       8694 non-null   int64
 5   Calificacion1  8559 non-null   object
 6   Calificacion2  4513 non-null   object
 7   Calificacion3  2751 non-null   object
dtypes: int64(5), object(3)
memory usage: 509.4+ KB

In [11]:
# exportar la data a un archivo csv
data_qua.to_csv('DATA_FINAL/qualifying_final.csv')